<div class="row">
  <aside class="col-sm-12">
    <table class="table table-bordered">
      <tr>
        <th>職業</th>
        <td><%= @user.profession %></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= @user.first_name %><%= @user.last_name %></td>
      </tr>
      <tr>
      <tr>
        <th>自己紹介</th>
        <td><%= @user.profile %></td>
      </tr>
      <tr>
    </table>
      
  </aside>
  <div class="text-right">
    <aside>
      <%= link_to 'プロフィール変更', edit_user_path(@user) %>
    </aside>
  </div>
</div>