<div class="row">
  <aside class="col-sm-12">
    <div class="text-left">
      <%= link_to 'プロフィール変更', edit_user_path(@user) %>
    </div>
  </aside>
  
  <aside class="col-sm-12">
    <table class="table table-bordered">
      <tr>
        <th>職業</th>
        <td><%= @user.profession %></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= @user.last_name %> <%= @user.first_name %></td>
      </tr>
      <tr>
        <th>自己紹介</th>
        <td><%= @user.profile %></td>
      </tr>
    </table>
  </aside>
  
  <aside class="col-sm-12">
    <div class="center jumbotron">
      <div class="text-center">
        <h2>SKILL</h2>
      </div>
    </div>
  </aside>
  <aside class="col-sm-6">
    <div class="center jumbotron">
      <div class="text-center">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 250 }) %>" alt="">
      </div>
    </div>
  </aside>
  <aside class="col-sm-6">
    <div class="center jumbotron">
      <div class="text-center">
        <%= @skill.skill_title %>
      </div>
    </div>
    <div class="center jumbotron">
      <div class="text-center">
        <%= @skill.skill_description %>
      </div>
    </div>
  </aside>
</div>