<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <% if logged_in? %>
      <a class="navbar-brand" href="/">ホーム</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= user_path(current_user) %>">ユーザ詳細</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= users_path %>">ユーザ一覧</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">写真投稿</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">写真一覧</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% else %>
      <a class="navbar-brand" href="/">ホーム</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= signup_path %>">会員登録</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-brand">
        <% if logged_in? %>
          <li class="list-unstyled">ようこそ！<%= @user.name %>さん</li>
        <% else %>
          <li class="list-unstyled">ようこそ！ゲストさん</li>
        <% end %>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>